<div class="container">
  <h2>Registracija</h2>
  <!-- <form [formGroup]="registerForm" (ngSubmit)="onSubmit()"> -->
    <form>
        <div class="form-group">
            <label for="name">Ime</label>
            <input id="name" type="text" class="form-control" formControlName="name"
                placeholder="Unesite ime" />
            <!-- <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched" class="text-danger">
                <small *ngIf="registerForm.get('username')?.errors?.['required']">Korisničko ime je obavezno.</small>
              </div> -->
        </div>

        <div class="form-group">
            <label for="surname">Prezime</label>
            <input id="surname" type="text" class="form-control" formControlName="surname"
                placeholder="Unesite prezime" />
            <!-- <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched" class="text-danger">
                <small *ngIf="registerForm.get('username')?.errors?.['required']">Korisničko ime je obavezno.</small>
              </div> -->
        </div>

    <div class="form-group">
      <label for="email">Email adresa</label>
      <input id="email" type="email" class="form-control" formControlName="email" placeholder="Unesite email" />
      <!-- <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="text-danger">
        <small *ngIf="registerForm.get('email')?.errors?.['required']">Email je obavezan.</small>
        <small *ngIf="registerForm.get('email')?.errors?.['email']">Unesite važeću email adresu.</small>
      </div> -->
    </div>

    <div class="form-group">
      <label for="username">Korisničko ime</label>
      <input id="username" type="text" class="form-control" formControlName="username" placeholder="Unesite korisničko ime" />
      <!-- <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched" class="text-danger">
        <small *ngIf="registerForm.get('username')?.errors?.['required']">Korisničko ime je obavezno.</small>
      </div> -->
    </div>

    <div class="form-group">
      <label for="password">Lozinka</label>
      <input id="password" type="password" class="form-control" formControlName="password" placeholder="Unesite lozinku" />
      <!-- <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="text-danger">
        <small *ngIf="registerForm.get('password')?.errors?.['required']">Lozinka je obavezna.</small>
      </div> -->
    </div>

    <div class="form-group">
      <label for="confirmPassword">Potvrdite lozinku</label>
      <input id="confirmPassword" type="password" class="form-control" formControlName="confirmPassword" placeholder="Potvrdite lozinku" />
      <!-- <div *ngIf="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched" class="text-danger">
        <small *ngIf="registerForm.get('confirmPassword')?.errors?.['required']">Potvrda lozinke je obavezna.</small>
        <small *ngIf="registerForm.get('confirmPassword')?.errors?.['passwordMismatch']">Lozinke se ne poklapaju.</small>
      </div> -->
    </div>

    <div class="form-group">
        <label for="Adresa">Unesite adresu</label>
            <input id="address" type="text" class="form-control" formControlName="address"
            placeholder="Unesite adresu" />
        <!-- <div *ngIf="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched" class="text-danger">
            <small *ngIf="registerForm.get('confirmPassword')?.errors?.['required']">Potvrda lozinke je obavezna.</small>
                            <small *ngIf="registerForm.get('confirmPassword')?.errors?.['passwordMismatch']">Lozinke se ne poklapaju.</small>
            </div> -->
        </div>

    <!-- <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Registruj se</button> -->
    <button type="submit" class="btn btn-primary">Registruj se</button>
  </form>
</div>
