.admin-home {
  display: flex;
  justify-content: space-between; 
  }

  .panel {
    flex:1;
    max-width: 15%;
    margin-right: 10px;
    padding: 20px;
    border-right: 2px solid #333;
  }

  .admin-show-users{
    flex:1;
  }

  .nav-links {
    list-style-type: none;
    padding: 0;
  }
  
  .nav-links li {
    margin: 15px 0;
  }
  
  .nav-links a {
    text-decoration: none;
    font-size: 18px;
    color: #9db4c0;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #333;
  padding: 20px;
  background-color: #9db4c0;
  color: white;
}

.users-table {
  width: 80%;
  margin: 30px auto;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.users-table th {
  background-color: #9db4c0;
  color: white;
  padding: 12px;
  text-align: left;
}

.users-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.users-table tr:hover {
  background-color: #f1f1f1;
}

.button{
  border-radius: 15px;
  background-color: #9db4c0;
  padding: 10px;
  font-size: 15px;
  border: none;
  margin: 6px;
  color: white;
}

button:disabled {
  border-radius: 15px;
  padding: 10px;
  background-color: #ccc;
  cursor: not-allowed;
  font-size: 15px;
  border: none;
  margin: 6px;
}

input[type="text"] {
  padding: 8px;
  margin: 5px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

input[type="number"] {
  padding: 8px;
  margin: 5px;
  width: 80px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

input[type="text"]:focus,
input[type="number"]:focus {
  outline: none;
  border-color: #9db4c0;
}

.filters-container {
  width: 80%;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filter {
  flex: 1;
}

.filter button{
  margin:38px;
}

.reset-button {
  text-align: center;
  margin-top: 10px;
}

.reset-button {
  text-align: center;
}

div > span {
  margin: 0 15px;
  font-weight: bold;
}

.users-table th:nth-child(5), 
.users-table td:nth-child(5) {
    text-align: center;
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;  
}