<div class="user-home">
  <h1>Dobrodošli na platformu!</h1>
  
  <ul class="nav-links">
    <li><a routerLink="/followed-posts">Lista objava korisnika koji su zapraćeni</a></li>
    <li><a routerLink="/trends">Prikaz trendova na mreži</a></li>
    <li><a routerLink="/nearby-posts-map">Prikaz obližnjih objava na mapi</a></li>
    <li><a routerLink="/chat">Čet između korisnika</a></li>
    <li><a routerLink="/profile">Stranica profila korisnika</a></li>
    <li><a routerLink="/create-post">Kreiraj objavu</a></li>
  </ul>
</div>